@use "../basics/variables" as var;
@use "../basics/functions" as fn;

.next-project-wrapper {
  color: var.$darkgrey;

  .next-project-links {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var.$darkgrey;
    padding-top: fn.toRem(24);
    color: var.$grey;
    font-size: var.$fs-p;

    .all-projects-container {
      border-bottom: 1px solid var.$white;
      a {
        color: var.$grey;
      }

      .svg-arrow-right-up-diag {
        margin-left: fn.toRem(8);
      }

    }

    .all-projects-container:hover {
      border-bottom: 1px solid var.$darkgrey;
    }
  }


  h2 {
    margin: unset;
    font-weight: var.$fw-h1;
    font-size: var.$fs-h2;
    line-height: var.$lh-h2;
  }

  .next-project-container {
    margin-top: fn.toRem(16);

    img {
      width: 100%;
      height: 560px;
      object-fit: cover;
      background-position: center;
      margin-top: fn.toRem(16);
      clip-path: circle(100%);
      transition: all 0.9s ease-in-out;
    }

    img:hover {
      clip-path: circle(23%);
    }

    ul {
      margin: unset;
      padding: unset;

      li {
        font-weight: var.$fw-h1;
        font-size: var.$fs-p;
        line-height: var.$lh-p-m;
        list-style-position: inside;
      }
    }
  }
}
