@use "../basics/variables" as var;
@use "../basics/functions" as fn;

.section-block-rewards {
  display: grid;
  gap: fn.toRem(80);
  color: var.$grey;

  .block-rewards-intro {
    display: grid;
    grid-template-columns: 1fr 2fr;
    font-size: var.$fs-p;
    line-height: var.$lh-p;

    .reward-intro-title {
      display: flex;
      align-items: center;
      gap: fn.toRem(8);

      svg {
        height: fn.toRem(8);
        width: auto;
        color: var.$grey
      }
    }

    .reward-intro-description {
      font-size: var.$fs-h2-m;
      line-height: var.$lh-p-xl;
    }
  }

  .block-rewards-container {
    display: grid;
    gap: fn.toRem(48);
    width: 100%;
    grid-auto-columns: 25%;
    grid-auto-flow: column;
    overflow-x: scroll;

    .block-rewards-card {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .card-header-container {
        display: grid;
        grid-template-columns: 1fr 3fr;
        align-items: center;
        gap: fn.toRem(16);

        img {
          height: fn.toRem(102);
          object-fit: cover;
          aspect-ratio: 1 / 1;
        }

        .card-header {
          .card-header-title {
            font-size: var.$fs-h2-m;
            line-height: var.$lh-p-xl;
            font-weight: var.$fw-p;
            color: var.$darkgrey;
          }

          .card-header-category {
            display: flex;
            align-items: center;
            gap: fn.toRem(8);
            line-height: var.$lh-p-m;

            svg {
              height: fn.toRem(4);
              width: auto;
              color: var.$grey
            }
          }
        }
      }

      .card-image {
        width: 100%;
        object-fit: cover;
        aspect-ratio: 396 / 260;
      }

      .card-infos {
        display: flex;
        flex-direction: column;
        gap: fn.toRem(16);

        .card-infos-header {
          display: flex;
          gap: fn.toRem(8);

          .card-infos-header-title {
            font-size: var.$fs-h4;
            line-height: var.$lh-p;
            font-weight: var.$fw-p;
            color: var.$darkgrey;
          }

          .card-infos-header-location {
            display: flex;
            align-items: center;
            gap: fn.toRem(8);
            color: var.$darkgrey;

            svg {
              height: fn.toRem(4);
              width: auto;
              color: var.$grey
            }
          }
        }

        .card-button {
          display: flex;
          gap: fn.toRem(8);
          align-items: center;

          svg {
            color: var.$grey;
            height: fn.toRem(8);
            width: fn.toRem(13);
          }
        }

        .card-description {
          color: var.$darkgrey;
        }
      }
    }
  }
}