@use "../basics/variables" as var;
@use "../basics/functions" as fn;

.section-block-details {
  display: grid;
  grid-template-columns: 1fr 2fr;
  color: var.$darkgrey;
  gap: 80px;

  .block-details-left {
    gap: 103px;
    display: flex;
    flex-direction: column;

    h3 {
      font-size: var.$fs-h4;
      line-height: var.$lh-p;
      font-weight: var.$fw-p;
      display: flex;
      align-items: center;
      gap: fn.toRem(8);

      svg {
        height: fn.toRem(8);
        width: auto;
        color: var.$grey
      }
    }

    img {
      aspect-ratio: 2 / 3;
      width: 90%;
      height: auto;
      object-fit: cover;
    }
  }

  .block-details-right {
    h2 {
      font-size: var.$fs-h2-m;
      line-height: var.$lh-p-xl;
      font-weight: var.$fw-p;
      padding-bottom: fn.toRem(48);
    }

    .details-container {
      margin-top: fn.toRem(48);

      .row-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: fn.toRem(48);

        .content {
          font-size: var.$fs-p;
          line-height: var.$lh-p-m;

          strong {
            font-weight: var.$fw-xl;
            color: var.$grey;
          }
        }
      }

      .row-paragraph {
        padding: fn.toRem(24) 0;
        border-top: 1px solid var.$lightgrey;
      }

      .row-list  {
        p:nth-child(n+1) {
          font-size: var.$fs-h4;
          line-height: var.$lh-p;
        }

        &-first {
          padding: fn.toRem(24) 0;
          border-top: 1px solid var.$lightgrey;
        }
      }
    }
  }
}

