@use "../basics/functions" as fn;
@use "../basics/variables" as var;

.page-header-container {
  display: flex;
  flex-direction: column;
  gap: fn.toRem(24);
  margin-top: fn.toRem(218);
  padding-left: fn.toRem(48);
  color: var.$darkgrey;
  width: auto;

  .title {
    font-size: var.$fs-h1-m;
    line-height: var.$lh-h1-m;
    font-weight: var.$fw-h1;
  }

  .description {
    font-size: var.$fs-h2;
    line-height: var.$lh-h2;
    font-weight: var.$fw-p;
    width: 70%;
  }
}

/* smartphones, iPhone, portrait 480x320 phones */
/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (max-width:780px)  {
  .page-header-container {
    gap: fn.toRem(40);
    margin-top: fn.toRem(200);
    padding: 0 fn.toRem(20);
    overflow-wrap: break-word;
    hyphens: auto;

    .title {
      font-size: var.$fs-h1-s;
      line-height: var.$lh-h1-s;
    }
  }
}