@use "../basics/variables" as var;
@use "../basics/functions" as fn;

.section-block-publications {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: start;
  gap: fn.toRem(80);
  padding: fn.toRem(80) fn.toRem(48);
  background-color: var.$grey;
  color: var.$white;

  .publications-intro-title {
    display: flex;
    align-items: center;
    gap: fn.toRem(8);
    font-size: var.$fs-h4;
    line-height: var.$lh-p;
    font-weight: var.$fw-p;

    svg {
      height: fn.toRem(8);
      width: fn.toRem(8);
    }
  }

  .block-publications-container {
    display: flex;
    gap: fn.toRem(16);

    .block-publications-wrapper {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: fn.toRem(80);

      .load-more-btn-publications {
        background-color: var.$white;
        align-items: center;
        width: fit-content;
        border: none;
        color: var.$grey;
        padding: fn.toRem(15) fn.toRem(32);
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: var.$fs-p;
        border-radius: fn.toRem(25);
        cursor: pointer;

        svg {
          color: var.$grey;
          height: fn.toRem(8);
          width: auto;
        }

        &:hover {
          background: var.$lightgrey-m;
        }
      }

      .publications-intro-description {
        font-size: var.$fs-h2-m;
        line-height: var.$lh-p-xl;
      }

      .block-publications-cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: fn.toRem(56);

        .block-publications-card {
          img {
            aspect-ratio: 9 / 14;
            object-fit: contain;
            width: 70%;
          }

          .publication-info {
            display: flex;
            flex-direction: column;

            .publication-info-details {
              display: flex;
              flex-direction: column;
              margin: fn.toRem(24) 0;
              gap: fn.toRem(12);

              .publication-button {
                border-bottom: fn.toRem(1) solid var.$grey;
                padding-bottom: fn.toRem(2);
                margin-top: fn.toRem(24);
                width: fit-content;

                &:hover {
                  border-bottom: 1px solid var.$white;
                }
              }
            }

            .publication-details {
              display: flex;
              justify-content: space-between;
              padding-top: fn.toRem(8);
              border-top: solid 1px var.$lightgrey-m;
              font-size: var.$fs-p-s;
              line-height: var.$lh-p-s;

              .publication-name {
                font-weight: var.$fw-xl;
              }

              .publication-year {
                display: flex;
                align-items: center;
                gap: fn.toRem(8);

                svg {
                  height: fn.toRem(4);
                  width: fn.toRem(4);
                }
              }
            }
          }
        }
      }

      .block-publications-cards-list {
        display: flex;
        flex-direction: column;

        .card-last {
            padding-bottom: fn.toRem(8);
            border-bottom: solid 1px var.$lightgrey-m;
        }

        .block-publications-card {
          .publication-info {
            display: grid;
            grid-template-columns: 4fr 1fr;
            padding-top: fn.toRem(8);
            border-top: solid 1px var.$lightgrey-m;

            .publication-info-details {
              display: flex;
              flex-direction: column;
              margin: fn.toRem(24) 0;
              gap: fn.toRem(8);

              .publication-title {
                font-size: var.$fs-h4;
                line-height: var.$lh-p;
              }

              .publication-author {
                font-size: var.$fs-p;
                line-height: var.$lh-p-m;
              }
            }

            .publication-details {
              display: flex;
              flex-direction: column;
              justify-content: center;
              gap: fn.toRem(8);
              font-size: var.$fs-p-s;
              line-height: var.$lh-p-s;

              .publication-name {
                font-weight: var.$fw-xl;
              }

              .publication-year {
                display: flex;
                align-items: center;
                gap: fn.toRem(8);

                svg {
                  height: fn.toRem(4);
                  width: fn.toRem(4);
                }
              }
            }
          }
        }
      }

    }
  }
}


/* smartphones, iPhone, portrait 480x320 phones */
/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (max-width:780px)  {
  .section-block-publications {
    grid-template-rows: 1fr;
    grid-template-columns: unset;
    gap: fn.toRem(24);
    padding: fn.toRem(48) 0;

    .publications-intro-title {
      padding: 0 fn.toRem(20);
    }

    .block-publications-container {
      .block-publications-wrapper {
        gap: fn.toRem(60);

        .publications-intro-description {
          padding: 0 fn.toRem(20);
        }

        .block-publications-cards {
          gap: 1rem;
          width: 100dvw;
          grid-auto-flow: column;
          grid-auto-columns: 75%;
          grid-template-columns: unset;
          overflow-x: scroll;

          .block-publications-card {
            width: fit-content;
            padding: 0 fn.toRem(20);
          }
        }

        .load-more-btn-publications {
          display: none;
        }

        .block-publications-cards-list {
          gap: fn.toRem(16);
          width: 100%;

          .card-last {
            border-bottom: unset;
          }

          .block-publications-card {
            padding: 0 fn.toRem(20);

            .publication-info {
              display: flex;
              flex-direction: column;
              padding-top: fn.toRem(16);

              .publication-info-details {
                margin: unset;
              }
            }
          }
        }
      }
    }
  }
}