@use "../basics/variables" as var;
@use "../basics/functions" as fn;

.filters-container {
  display: grid;
  grid-template-columns: 1fr 3fr;

  .fc-terms-container {
    display: flex;
    flex-direction: column;

    .fc-accordion-label {
      font-size: var.$fs-h4;
      font-weight: var.$fw-p;
      line-height: var.$lh-p;
      background-color: var.$white;
      color: var.$grey;
      cursor: pointer;
      padding: 18px;
      border: none;
      text-align: left;
      transition: 0.4s;
    }

    .parent-terms-container {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid var.$grey;
      padding-bottom: fn.toRem(18);
    }

    .accordions-container {
      position: relative;
      display: flex;

      .accordion-content {
        position: absolute;
        display: flex;
        align-items: center;
        max-height: 0;
        margin-top: fn.toRem(12);
        gap: fn.toRem(12);
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
        background-color: var.$white;

        &.accordion-active {
          max-height: fn.toRem(1000);
        }
      }
    }
  }
}

.child-term {
  display: inline-block;
  padding: fn.toRem(4) fn.toRem(12);
  background-color: var.$lightgrey;
  border-radius: fn.toRem(16);
  border: 1px solid var.$white;
  color: var.$white;
  font-size: var.$fs-p;
  line-height: var.$lh-p-m;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
  cursor: pointer;
}

.child-term:hover {
  background-color: var.$grey;
}

.child-term.selected {
  color: var.$grey;
  background-color: var.$white;
  border: 1px solid var.$grey;
}


