.section-block-image-full {
  img {
    width: 100dvw;
    aspect-ratio: 2 / 1;
    height: auto;
    object-fit: cover;
  }
}

/* smartphones, iPhone, portrait 480x320 phones */
@media (max-width:480px)  {
  .section-block-image-full {
    img {
      aspect-ratio: 4 / 5;
    }
  }
}