@use "../basics/variables" as var;
@use "../basics/functions" as fn;

.section-block-publications {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: start;
  gap: fn.toRem(80);
  padding: fn.toRem(80) fn.toRem(48);
  background-color: var.$grey;
  color: var.$white;

  .publications-intro-title {
    display: flex;
    align-items: center;
    gap: fn.toRem(8);
    font-size: var.$fs-h4;
    line-height: var.$lh-p;
    font-weight: var.$fw-p;

    svg {
      height: fn.toRem(8);
      width: auto;
    }
  }

  .block-publications-container {
    display: flex;
    gap: fn.toRem(16);

    .block-publications-wrapper {
      display: flex;
      flex-direction: column;
      gap: fn.toRem(80);

      .publications-intro-description {
        font-size: var.$fs-h2-m;
        line-height: var.$lh-p-xl;
      }

      .block-publications-cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: fn.toRem(56);

        .block-publications-card {
          img {
            aspect-ratio: 9 / 14;
            object-fit: contain;
            width: 100%;
          }

          .publication-info {
            display: flex;
            flex-direction: column;

            .publication-info-details {
              display: flex;
              flex-direction: column;
              margin: fn.toRem(24) 0;
            }

            .publication-details {
              display: flex;
              justify-content: space-between;
              padding-top: fn.toRem(8);
              border-top: solid 1px var.$lightgrey-m;
              font-size: var.$fs-p-s;
              line-height: var.$lh-p-s;

              .publication-name {
                font-weight: var.$fw-xl;
              }

              .publication-year {
                display: flex;
                align-items: center;
                gap: fn.toRem(8);

                svg {
                  height: fn.toRem(4);
                  width: auto;
                }
              }
            }
          }
        }
      }
    }
  }
}