@use "../basics/variables" as var;
@use "../basics/functions" as fn;

.filters-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  color: var.$grey;
  width: 100%;

  h3 {
    font-size: var.$fs-h4;
    line-height: var.$lh-p;
    font-weight: var.$fw-p;
    display: flex;
    align-items: center;
    gap: fn.toRem(8);
    margin: unset;

    svg {
      height: fn.toRem(8);
      width: fn.toRem(8);
      color: var.$grey
    }
  }

  .fc-terms-container {
    display: flex;
    flex-direction: column;

    .fc-accordion-label {
      display: flex;
      align-items: center;
      font-size: var.$fs-h4;
      font-weight: var.$fw-p;
      line-height: var.$lh-p;
      background-color: var.$white;
      color: var.$grey;
      cursor: pointer;
      padding: 18px;
      border: none;
      text-align: left;
      transition: all 0.4s ease-in-out;

      svg {
        height: fn.toRem(8);
        width: auto;
        margin-left: fn.toRem(16);
      }
    }

    .fc-accordion-label .icon-minus {
      display: none;
    }

    .parent-terms-container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      border-bottom: 1px solid var.$grey;
      padding-bottom: fn.toRem(18);
    }

    .accordion-content-mobile {
      display: none;
    }

    .accordions-container {
      position: relative;
      display: flex;

      .accordion-content {
        position: absolute;
        display: flex;
        align-items: center;
        max-height: 0;
        margin-top: fn.toRem(12);
        gap: fn.toRem(12);
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
        background-color: var.$white;

        &.accordion-active {
          max-height: fn.toRem(1000);
        }
      }
    }
  }
}

.child-term {
  display: flex;
  width: max-content;
  align-items: center;
  padding: fn.toRem(4) fn.toRem(12);
  background-color: var.$lightgrey;
  border-radius: fn.toRem(16);
  border: 1px solid var.$white;
  color: var.$white;
  font-size: var.$fs-p;
  line-height: var.$lh-p-m;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  svg {
    height: fn.toRem(8);
    width: auto;
    margin-left: fn.toRem(8);
  }

  &:hover {
    background-color: var.$grey;

    svg {
      color: var.$white;
    }
  }

  &.selected {
    color: var.$grey;
    background-color: var.$white;
    border: 1px solid var.$grey;

    svg {
      color: var.$grey;
      rotate: (45deg);
    }
  }
}

/* smartphones, iPhone, portrait 480x320 phones */
/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (max-width:780px)  {
  .filters-container {
    display: flex;
    flex-direction: column;
    gap: fn.toRem(24);

    .parent-terms-container {
      flex-direction: column;

      .fc-accordion-label {
        display: flex;
        justify-content: space-between;
      }
    }

    .fc-terms-container {
      .accordions-container {
        display: none;
      }
    }

    .accordion-content-mobile {
      display: none;

      &.accordion-active {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: fn.toRem(24);
      }

      .child-term {

        &:hover {
          background-color: var.$lightgrey;
        }

        &.selected {
          color: var.$white;
          background-color: var.$grey;

          svg {
            color: var.$white;
          }
        }
      }
    }
  }
}
