@use "../basics/variables" as var;
@use "../basics/functions" as fn;

.classic-button {
  background-color: var.$white;
  color: var.$grey;
  border: 1px solid var.$white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: var.$fs-p;
  border-radius: fn.toRem(25);
  cursor: pointer;
  transition: all 0.5s ease-in-out;

  svg {
    color: var.$grey;
    margin-left: fn.toRem(8);
    transition: all 0.5s ease-in-out;
  }

  &:hover {
    background-color: var.$grey;
    color: var.$white;
    border: 1px solid var.$grey;

    svg {
      color: var.$white;
      margin-left: fn.toRem(8);
    }
  }

  &-bkg-grey {
    background-color: var.$grey;
    color: var.$white;
    border: 1px solid var.$grey;

    svg {
      color: var.$white;
      margin-left: fn.toRem(8);
      transition: all 0.5s ease-in-out;
    }

    &:hover {
      background-color: var.$white;
      color: var.$grey;
      border: 1px solid var.$white;

      svg {
        color: var.$grey;
        margin-left: fn.toRem(8);
      }
    }
  }

  &-border {
    &:hover {
      border: 1px solid var.$grey;
    }
  }
}

.button-load-more {
  display: flex;
  justify-content: center;
  margin-top: fn.toRem(40);
  margin-bottom: fn.toRem(80);

  #load-more {
    background-color: var.$grey;
    border: none;
    color: var.$white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: var.$fs-p;
    border-radius: fn.toRem(25);
    cursor: pointer;
  }
}