@use '../basics/variables' as var;
@use '../basics/functions' as fn;

.agency-header-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: fn.toRem(218);
  padding-left: fn.toRem(48);
  color: var.$darkgrey;
  width: 70%;

  .agency-title {
    font-size: var.$fs-h1-m;
    line-height: var.$lh-h1-m;
    font-weight: var.$fw-h1;
  }

  .agency-description {
    font-size: var.$fs-h2;
    line-height: var.$lh-h2;
    font-weight: var.$fw-p;
  }
}