@use "../basics/variables" as var;
@use "../basics/functions" as fn;

.articles-grid-header-container {
  margin: fn.toRem(146) fn.toRem(48) 0 fn.toRem(48);
  color: var.$darkgrey;

  .articles-grid-title {
    font-size: fn.toRem(94);
    line-height: fn.toRem(94);
    font-weight: 400;
  }

  .articles-grid-description {
    font-size: var.$fs-h2;
    font-weight: var.$fw-p;
    line-height: var.$lh-h2;
  }
}

/* smartphones, iPhone, portrait 480x320 phones */
/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (max-width:780px)  {
  .articles-grid-header-container {
    margin: fn.toRem(200) fn.toRem(20) 0 fn.toRem(20);
  }
}