@use '../basics/variables' as var;
@use '../basics/functions' as fn;

.error-message {
  color: red;
  font-size: 0.875em;
  margin-bottom: 5px;
}

.contact-header-container {
  margin: fn.toRem(200) fn.toRem(48);
  color: var.$darkgrey;

  .contact-title {
    font-size: fn.toRem(94);
    line-height: fn.toRem(94);
    font-weight: 400;
  }

  .contact-description {
    font-size: var.$fs-h2;
    font-weight: var.$fw-p;
    line-height: var.$lh-h2;
  }
}

.form-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 80%;

  #dynamic-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #756F5E;

    .form-group {
      display: flex;
      flex-direction: column;
      font-size: 16px;
      line-height: 26px;
    }

    /* Cache les labels */
    .group-label label {
      display: none;
    }

    /* Style général pour les inputs et textarea */
    .form-group input[type="text"],
    .form-group input[type="email"],
    .form-group textarea {
      width: 100%;
      padding: 10px 0;
      margin: 5px 0;
      border: none;
      background: transparent;
      font-size: 16px;
      font-family: var.$font-family;
    }

    /* Supprime la bordure de focus pour les inputs et textarea */
    .form-group input[type="text"]:focus,
    .form-group input[type="email"]:focus,
    .form-group textarea:focus {
      outline: none;
      border: none;
      color: #756F5E;
    }

    /* Style pour le placeholder */
    .form-group input::placeholder,
    .form-group textarea::placeholder {
      color: #756F5E;
      opacity: 1; /* Assure que le placeholder est pleinement visible */
    }

    .group-text {
      padding-bottom: 12px;
      border-bottom: 1px solid #D4CFC1;
    }

    .group-cities {
      display: flex;
      flex-direction: row;
    }
  }
}

/* Masquer les boutons radio natifs */
.city-option input[type="radio"] {
  display: none;
}

/* Supprime les flèches de dropdown pour les inputs de type file */
input[type="file"] {
  border: none;
}

/* Styliser les labels pour ressembler à des gélules */
.city-option label {
  display: inline-block;
  padding: 4px 12px;
  margin: 5px;
  background-color: #D4CFC1;
  color: #756F5E;
  border-radius: 16px; /* Crée l'effet de gélule */
  cursor: pointer;
  transition: background-color 0.3s;
  border: 1px solid var.$white;
}

/* Changer la couleur au survol */
.city-option label:hover {
  background-color: #B8B2A8; /* Une couleur plus foncée pour le survol */
  color: var.$white;
  border: 1px solid var.$white;
}

/* Changer la couleur lorsque le bouton radio est sélectionné */
.city-option input[type="radio"]:checked + label {
  background-color: var.$white; /* Une couleur encore plus foncée pour la sélection */
  color: var.$grey;
  border: 1px solid var.$lightgrey;
}

.cities-option {
  display: flex;
  flex-direction: row;
}

.cities-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

/* Masquer le champ de fichier par défaut */
.custom-file-input {
  display: none;
}

/* Styliser le label pour ressembler à un bouton en forme de gélule */
.custom-file-label {
  display: inline-block;
  padding: 8px 16px;
  background-color: #D4CFC1;
  color: #756F5E;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: fit-content;

  &:after {
    content: url("../../../components/svg-arrow-down.svg");
    margin-left: 8px;
  }
}

/* Changer la couleur au survol */
.custom-file-label:hover {
  background-color: var.$grey;
  color: var.$white;
}

/* Optionnel : changer la couleur lorsque le fichier est sélectionné */
.custom-file-input:focus + .custom-file-label {
  background-color: var.$grey;
  color: var.$white;
}

#group-submit-button:after {
  content: url("../../../components/svg-arrow-right-up-diag.svg");
}

#group-submit-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  position: relative;
  border: none;
  padding: 8px 24px;
  background-color: #756F5E;
  color: whitesmoke;
  border-radius: 20px;
  font-size: 16px;
  font-family: var.$font-family;
}

#submit-button {
  background: none;
  border: none;
  color: whitesmoke;
  font-family: var.$font-family;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

.legal-text {
  a {
    color: var.$grey;
    text-decoration-line: underline;
  }
}

.form-side-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  color: var.$grey;

  .side-title {
    display: flex;
    align-items: center;
    gap: fn.toRem(8);
    font-size: 22px;
    line-height: 32px;

    svg {
      height: fn.toRem(8);
      width: auto;
      color: var.$grey
    }
  }

  .side-next {
    margin-bottom: 64px;
    border-top: 1px solid;
    padding-top: 24px;

    .next-title {
      display: flex;
      align-items: center;
      gap: fn.toRem(8);
      font-size: 22px;
      line-height: 32px;
      margin-bottom: 8px;

      svg {
        height: fn.toRem(8);
        width: auto;
        color: var.$grey
      }
    }

    .next-description {
      font-size: 16px;
      line-height: 26px;
    }
  }
}

