@use '../basics/variables' as var;
@use '../basics/functions' as fn;

.block_articles {
  margin-top: unset !important;
}

.section-block-home-cover {
  display: flex;
  justify-content: center;
  min-height: 100dvh;
  background-size:cover;
  background-position: center;
  box-shadow: inset 100dvw 0 0 0 rgba(0, 0, 0, 0.5);
  color: var.$white;
  padding: 0 fn.toRem(48);
}
