/* UTILS / ABSTRACTS */
@use "../basics/variables" as var;
@use "../basics/functions" as fn;

#header-main {
  display: flex;
  justify-content: center;

  #header-container {
    position: fixed;
    width: var.$main;
    margin-right: fn.toRem(48);
    margin-left: fn.toRem(48);
    margin-top: fn.toRem(25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;

    #header-logo {
      a {
        img {
          width: 35px;
          height: auto;
          object-fit: cover;
        }
      }
    }

    #navigation {
      background-color: var.$grey;
      padding: 15px 45px;
      border-radius: 50px;
    }
  }
}

