/* UTILS / ABSTRACTS */
@use "../basics/variables" as var;
@use "../basics/functions" as fn;

#header-main {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 999;
  transition: all 0.3s ease-in-out;
  pointer-events: none; /* Désactive les événements de souris sur le conteneur principal */

  #header-container {
    width: 100%;
    align-items: center;
    transition: all 0.3s ease-in-out;
    pointer-events: auto; /* Réactive les événements de souris sur le contenu */

    .reduced-navigation {
      display: flex;
      justify-content: space-between;
      padding: fn.toRem(25) fn.toRem(48) 0 fn.toRem(48);
      pointer-events: auto;

      #header-logo {
        .dynamic-logo {
          color: white;
          &__grey {
            color: var.$grey;
            svg {
              height: fn.toRem(49);
              width: auto;
            }
          }
          svg {
            height: fn.toRem(49);
            width: auto;
          }
        }
      }

      #navigation {
        background-color: var.$grey;
        padding: 15px 45px;
        border-radius: 50px;
        pointer-events: auto;
        transition: all 0.3s ease-in-out;

        .menu-content {
          display: flex;
          gap: fn.toRem(20);

          .menu-item {
            cursor: pointer;

            .menu-item-title,
            .menu-item-link {
              color: var.$white;
              text-decoration: none;
              font-size: var.$fs-p;
              line-height: var.$lh-p;
            }
          }
        }
      }
    }

    .expanded-navigation {
      position: absolute;
      left: 0;
      width: 100%;
      padding: fn.toRem(25) fn.toRem(48) 0 fn.toRem(48);
      margin-top: 0;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease-in-out;
      pointer-events: none;
      border-top: 1px solid var.$lightgrey;

      .expanded-menu-container {
        display: flex;
        flex-direction: column;
        gap: fn.toRem(20);

        .expanded-menu-section {
          display: none;
        }

        .subtitle {
          color: white;
          font-size: var.$fs-h4;
          margin-bottom: fn.toRem(10);
        }

        .tags-container {
          display: flex;
          flex-wrap: wrap;
          gap: fn.toRem(8);

          .child-item {
            display: inline-block;
            padding: fn.toRem(4) fn.toRem(12);
            background-color: var.$lightgrey;
            border-radius: fn.toRem(16);
            border: 1px solid var.$white;
            color: var.$white;
            font-size: var.$fs-p;
            line-height: var.$lh-p-m;
            text-align: center;
            text-decoration: none;
            transition: all 0.3s ease-in-out;
            cursor: pointer;

            &:hover {
              background-color: var.$grey;
            }
          }
        }
      }
    }

    &:hover {
      height: 65dvh;
      background-color: var.$grey;

      .reduced-navigation {
        #navigation {
          .menu-content {
            .menu-item {
              .menu-item-title,
              .menu-item-link {
                color: var.$lightgrey;

                &:hover {
                  color: var.$white;
                }
              }
            }
          }
        }
      }

      .expanded-navigation {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }
    }

    /* Show the correct expanded menu section on hover */
    .menu-item.has-children:hover ~ .expanded-navigation .expanded-menu-section,
    .menu-item.has-children:focus-within ~ .expanded-navigation .expanded-menu-section {
      display: none;
    }

    .menu-item.has-children:hover ~ .expanded-navigation .expanded-menu-section:first-of-type,
    .menu-item.has-children:focus-within ~ .expanded-navigation .expanded-menu-section:first-of-type {
      display: block;
    }

    /* Show the specific expanded menu section on hover */
    .menu-item.has-children:nth-of-type(1):hover ~ .expanded-navigation .expanded-menu-section:nth-of-type(1),
    .menu-item.has-children:nth-of-type(1):focus-within ~ .expanded-navigation .expanded-menu-section:nth-of-type(1) {
      display: block;
    }

    .menu-item.has-children:nth-of-type(2):hover ~ .expanded-navigation .expanded-menu-section:nth-of-type(2),
    .menu-item.has-children:nth-of-type(2):focus-within ~ .expanded-navigation .expanded-menu-section:nth-of-type(2) {
      display: block;
    }

    .menu-item.has-children:nth-of-type(3):hover ~ .expanded-navigation .expanded-menu-section:nth-of-type(3),
    .menu-item.has-children:nth-of-type(3):focus-within ~ .expanded-navigation .expanded-menu-section:nth-of-type(3) {
      display: block;
    }
  }
}
