/* UTILS / ABSTRACTS */
@use "../basics/variables" as var;
@use "../basics/functions" as fn;

#header-main {
  display: flex;

  #header-container {
    position: fixed;
    width: 100dvw;
    align-items: center;
    transition: all 0.3s ease-in-out;
    pointer-events: auto; /* Réactive les événements de souris sur le contenu */
    z-index: 90;

    .reduced-navigation {
      display: flex;
      justify-content: space-between;
      padding: fn.toRem(25) fn.toRem(48) fn.toRem(12) fn.toRem(48);
      pointer-events: auto;

      #header-logo {
        .dynamic-logo {
          color: var.$white;

          &__grey {
            color: var.$grey;
            svg {
              height: fn.toRem(49);
              width: auto;
            }
          }
          svg {
            height: fn.toRem(49);
            width: auto;
          }
        }
      }

      #navigation {
        background-color: var.$grey;
        padding: 15px 45px;
        border-radius: 50px;
        pointer-events: auto;
        transition: all 0.3s ease-in-out;

        .menu-content {
          display: flex;
          gap: fn.toRem(20);

          .menu-item {
            cursor: pointer;

            .menu-item-title,
            .menu-item-link {
              color: var.$white;
              text-decoration: none;
              font-size: var.$fs-p;
              line-height: var.$lh-p;
            }
          }
        }
      }
    }

    .expanded-navigation {
      display: grid;
      grid-template-columns: 1fr 3fr;
      padding: fn.toRem(25) fn.toRem(48) 0 fn.toRem(48);
      width: auto;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease-in-out;
      pointer-events: none;
      border-top: 1px solid var.$lightgrey;

      .side {
        display: flex;
        color: var.$white;

        span {
          svg {
            height: fn.toRem(8);
            color: var.$white;
            margin-right: fn.toRem(12);
          }
        }
      }

      .expanded-menu-container {
          width: fit-content;

        .expanded-menu-section {
          display: none;
          flex-direction: column;
          gap: fn.toRem(24);
        }

        .subtitle {
          color: white;
          font-size: var.$fs-h4;
        }

        .tags-container {
          display: flex;
          flex-wrap: wrap;
          gap: fn.toRem(8);
          border-top: 1px solid var.$lightgrey-m;
          padding-top: fn.toRem(12);
          margin-bottom: fn.toRem(12);

          .child-item {
            display: inline-block;
            padding: fn.toRem(4) fn.toRem(12);
            background-color: var.$white;
            border-radius: fn.toRem(16);
            border: 1px solid var.$white;
            color: var.$grey;
            font-size: var.$fs-p;
            line-height: var.$lh-p-m;
            text-align: center;
            text-decoration: none;
            transition: all 0.3s ease-in-out;
            cursor: pointer;

            &:hover {
              background-color: var.$grey;
              color: var.$white;
            }
          }
        }
      }
    }

    &:hover {
      height: 65dvh;
      background-color: var.$grey;

      .reduced-navigation {
        #header-logo {
          .dynamic-logo {
            &__grey {
              color: var.$white;
            }
          }
        }

        #navigation {
          .menu-content {
            .menu-item {
              .menu-item-title,
              .menu-item-link {
                color: var.$lightgrey;

                &:hover {
                  color: var.$white;
                }
              }
            }
          }
        }
      }

      .expanded-navigation {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }
    }
  }
}


