.home-block {
  width: 100dvw;

  .banner {
    background-size: cover;
    background-position: center;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 0 0 150px;
  }

  img {
    width: 100dvw;
    object-fit: cover;
  }
}

