/* UTILS / ABSTRACTS */
@use "variables" as var;
@use "functions" as fn;

html {
  scroll-behavior: smooth;
}

body {
  background: var.$white;
  width: 100vw;
  margin: 0;
  font-family: var.$font-family;
}

/* Reset default margin */
h1, h2, h4, p {
  margin: unset;
}

a {
  text-decoration-line: none;
  color: var.$white;

  &visited {
    color: var.$black;
  }
}

.main-wrapper {
    padding: fn.toRem(40) fn.toRem(48);
}

.svg-plus {
  margin-left: fn.toRem(8);
}

/* smartphones, iPhone, portrait 480x320 phones */
@media (max-width:480px)  {
  .main-wrapper {
    padding: fn.toRem(24) fn.toRem(20);
  }
}
