/* UTILS / ABSTRACTS */
@use "variables" as var;

html {
  scroll-behavior: smooth;
}

body {
  background: var.$white;
  width: 100vw;
  margin: 0;
  font-family: "Neue Haas", sans-serif;
}

/* Reset default margin */
h1, h2 {
  margin: 0;
}

a {
  text-decoration-line: none;
  color: var.$white;

  &visited {
    color: var.$black;
  }
}